body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.hidden{
    display: none;
}

.game {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: hsl(300, 100%, 95%);
}

.start__screen {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    width: 100%;
    z-index: 1;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(34 7 22) 20%, rgb(255, 0, 140) 95%);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
}

.start__title {
    font-family: 'Sigmar One', cursive;
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
}

.start__button {
    padding: 5px;
    width: 200px;
    height: 50px;
    border: 0;
    border-radius: 5px;
    background-color: rgb(177, 193, 241);
    font-size: 2rem;
    font-weight: 600;
    box-shadow: 5px 5px 5px black;
    margin-top: 50px;
}

.start__input {
    margin: 20px;
    padding: 10px;
    width: 180px;
    font-size: 0.9rem;
    border: 0;
    border-radius: 5px;
    text-align: center;
    box-shadow: 5px 5px 5px black;
    display: flex;
}

.game__table {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
    width: 300px;
    height: 245px;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 4px 5px 18px 11px grey;
}

.table__column {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid hsl(0, 0%, 60%);
    background-color: hsl(0, 0%, 60%);
}

.table__cell {
    width: 100%;
    height: 100%;
    background-color: hsl(0, 0%, 89%);
    box-sizing: border-box;
    border: solid 2px hsl(0, 0%, 50%);
    border-radius: 14px;
}

.red {
    background-color: red;
    border-radius: 20%;
    width: 100%;
    height: 100%;
}

.black {
    background-color: black;
    border-radius: 20%;
    width: 100%;
    height: 100%;
}

.player-screen {
    display: flex;
    position: relative;
    align-items: center;
    width: 20rem;
    height: 100px;
    margin-top: 20px;
    background: linear-gradient(45deg, hsl(240deg 55% 87%), #9e9ed6f0);
    border-radius: 1rem;
}
.player--style{
    font-size: 0.7rem;
    color: blanchedalmond;
    border-radius: 1rem;
    text-align: center;
    width: 8.6rem;
    height: 4.5rem;
}

.player1 {
    position: absolute;
    left: 5%;
    background-color: hsl(0, 50%, 50%);
}

.player2 {
    position: absolute;
    right: 5%;
    background-color: hsl(240, 9%, 21%); 
}

#container_discos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 20vh;
    border: 2px solid black;
}

h1{
    padding: 8px;
}

/* Modal final e botão reset */

/*.modal_container{
    display: none;
}*/

.modal__result{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
    z-index: 1;
}

.modal__result__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.modal__result__content{
    height: 51vh;
    width: 87vw;
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 5px 8px black;
}


.btn-reset {
    width: 70%;
    font-size: 20px;
    padding: 10px;
    background-color: #F49E4C;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 5px black;
}

.modal__result__title {
    font-size: 1.5rem;
}
.fallen__disc{
    position: relative;
    animation: 0.7s ease-in  reverse both running fallen;
}
@keyframes fallen {
   0% {
    top: 0%;
    }
   100%{
    top: -600%;
   }  
    
}


@media screen and (min-width: 680px) {
    .game__table {
        width: 518px;
        height: 360px;
    }

    .player-screen {
        height: 7rem;
        width: 30rem;
    }
    .player--style{
        width: 8.5rem;
        height: 4.5rem;
    }
    .start__input {
        flex-direction: row;
        font-size: 1.5rem;
        width: 287px;
    }

    .start__title {
        font-size: 5rem;
    }

    .start__button {
        font-size: 2.5rem;
        text-transform: uppercase;
        width: 290px;
        height: 69px;
    }

    #div_start__input {
        flex-direction: row;
        width: 700px;
        display: flex;
        justify-content: center;
    }

    .container {
        margin: 7vw auto;
    }

    .modal__result__content{
        height: 49vh;
        width: 31vw;
    }
}