body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.hidden{
    display: none;
}

div.container__jogo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: hsl(300, 100%, 95%);
}

.start__screen {
    /* display: flex; */
    /* align-items: center;
    justify-content: center; */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    width: 100%;
    /* height: 100%; */
    /* background-color: red; */
    z-index: 1;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(20,34,7,1) 20%, rgba(0,212,255,1) 95%);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
}

.start__title {
    font-family: 'Sigmar One', cursive;
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
}

.start__button {
    padding: 5px;
    width: 200px;
    height: 50px;
    border: 0;
    border-radius: 5px;
    background-color: rgb(177, 193, 241);
    font-size: 2rem;
    font-weight: 600;
    box-shadow: 5px 5px 5px black;
    margin-top: 50px;
}

.start__input {
    margin: 20px;
    padding: 10px;
    width: 180px;
    font-size: 0.9rem;
    border: 0;
    border-radius: 5px;
    text-align: center;
    box-shadow: 5px 5px 5px black;
    display: flex;
}

.table {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
    width: 300px;
    height: 245px;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 4px 5px 18px 11px grey;
}

.table__column {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid hsl(0, 0%, 60%);
    background-color: hsl(0, 0%, 60%);
}

.table__cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: hsl(0, 0%, 89%);
    box-sizing: border-box;
    border: solid 2px hsl(0, 0%, 50%);
    border-radius: 14px;
}

.red {
    background-color: red;
    border-radius: 37%;
    width: 100%;
    height: 100%;
}

.black {
    background-color: black;
    border-radius: 37%;
    width: 100%;
    height: 100%;
}

.player__screen {
    display: flex;
    position: relative;
    align-items: center;
    width: 300px;
    height: 100px;
    margin-top: 20px;
    background: linear-gradient(45deg, hsl(240deg 55% 87%), #9e9ed6f0);
    border-radius: 1rem;
}

.player__1 {
    position: absolute;
    left: 5%;
    font-size: 0.7rem;
    background-color: hsl(240, 100%, 93%);
    border-radius: 1rem;
}

.player__2 {
    position: absolute;
    right: 5%;
    font-size: 0.7rem;
    background-color: hsl(240, 100%, 93%);
    border-radius: 1rem;
}

#container_discos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 20vh;
    border: 2px solid black;
}

#Preto {
    border: 0;
    background-color: black;
    border-radius: 100%;
    width: 7vh;
    height: 7vh;
}

#Vermelho {
    border: 0;
    background-color: red;
    border-radius: 100%;
    width: 7vh;
    height: 7vh;
}
h1{
    padding: 8px;
}

/* Modal final e botão reset */


/* .modal_container{
    display: none;
} */

.modal_container.ativo{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.modal_final{
    height: 300px;
    width: 400px;
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 5px 8px black;
}


#botao_reset {
    width: 70%;
    font-size: 20px;
    padding: 10px;
    background-color: #F49E4C;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 5px black;
}

#h2_resultado {
    font-size: 2.5rem;
}





@media screen and (min-width: 680px) {
    .table {
        width: 518px;
        height: 360px;
    }

    .player__screen {
        width: 518px;
    }
    
    .player__1 {
        position: absolute;
        left: 5%;
        font-size: 0.7rem;
    }

    .player__2 {
        position: absolute;
        right: 5%;
        font-size: 0.7rem;
    }

    .start__input {
        flex-direction: row;
    }

    #div_start__input {
        flex-direction: row;
        width: 700px;
        display: flex;
        justify-content: center;
    }

    .container {
        margin: 12vw auto;
    }
}